* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
/*  background-color: #333;*/
}

header {
/*    background-color: #67b8de;*/
    background: url("pink_sky.jpg") no-repeat center top #67b8de;
    height: 200px;
    margin-bottom: -120px;
    text-decoration: none;
    text-align: center;
}

.nav-masthead {
    display: inline;
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1.2rem;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: bold;
    color: rgba(255,255,255,.5);
    border-bottom: .25rem solid transparent;
    text-decoration: none;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.5);
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

header ul {
    font-size: 18px;
    padding: 15px 100px 30px 4px;
    z-index: 100;
}

body {
  color: #fff;
  text-align: center;
/*  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);*/
}

#quickStats {
    text-align: left;
    padding-left: 20px;
}

.center-wrapper {
    box-shadow: 0 5px 8px #DDD;
    width: 600px;
    padding: 30px;
    margin: auto;
    margin-bottom: 50px;
    background: #fff;
    background-image: url(tri_orange.jpg);
    background-blend-mode: 
}

.vignette {
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 80px rgba(0,0,0,0.5) inset;
    z-index: 10;
    transition: .5s ease;
}

.project-wrapper {
    margin: auto;
}

.project-category {
    font-size: 20px;
}

.projects-wrapper .project {
    display: inline-block;
    width: 160px;
    height: 144px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 3px 5px #999;
    background-color: #fefefe;
    overflow: hidden;
    transition: .5s ease;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.9);
}

.projects-wrapper .project-img {
    width: 100%;
    height: 100%;
    transform: scale(1.25);
/*    object-fit: fill;*/
    object-fit: cover;
    z-index: -1;
}

.projects-wrapper .project-title {
    position: absolute;
    left: 8px;
    top: 16px;
    max-width: 144px;
/*    right: 8px;*/
    font-size: 22px;
    text-shadow: 0px 1px 2px #999;
    color: white;
    font-weight: bold;
    transition: .5s ease;
    text-align: left;
    z-index: 100;
}

.projects-wrapper .project-description {
    position: absolute;
    bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
/*    width: 152px;*/
    max-height: 0;
/*    text-overflow: clip;*/
    text-align: left;
    overflow: hidden;
    transition: 0.5s ease;
/*    transition-delay: .2s;*/
    font-size: 8.9px;
    color: white;
    text-shadow: 0px 1px 2px #AAA;
    z-index: 99;
}

.projects-wrapper .project:hover .vignette {
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

.projects-wrapper .project:hover {
/*    height: 160px;*/
    width: 210px;
}

.projects-wrapper .project:hover .project-img {
/*    background: #eeeeff;*/
    filter: blur(3px) brightness(80%);
    transition: filter 0.4s ease;
    width: 100%;
}
.projects-wrapper .project:hover .project-title {
    top: 4px;
    font-size: 18px;
    max-width: 118px;
}
.projects-wrapper .project:hover .project-description{
    max-height: 150px;
    font-size: 12px;
}

#last-updated {
    color: darkgrey;
    font-size: 12px;
    padding-top: 8px;
}

.interest {
    background-color: white;
}

.interests-wrapper .interest {
    display: inline-block;
    height: 54px;
    width: 268px;
    padding: 8px;
    position: relative;
    box-shadow: 1px 3px 5px #999;
    overflow: hidden;
}

.interest-title {
    font-size: 16px;
    font-weight: bold;
    left: 58px;
    text-align: left;
    position: absolute
}

.interest-desc {
    font-size: 12px;
    left: 58px;
    top: 30px;
    text-align: left;
    position: absolute
}

.interest-img {
    left: 12px;
    top: 12px;
    position: absolute;
/*    height: 30px;*/
    height: 32px;
}

.interests-wrapper .interest:hover {
    background-color: #fffcf7;
    transition: .5s;
}